/* globals.css or tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Gradient Animation */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@layer utilities {
    .animate-gradient {
        background: linear-gradient(45deg, #ff6b6b, #f06595, #fcf79f, #00d2d3);
        background-size: 600% 600%;
        animation: gradient 10s ease infinite;
    }
}

body {
    @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    /* Faster animation */
    color: rgb(var(--foreground-rgb));
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: #2d3748;
}

@keyframes dots {
    0%,
    20%,
    80%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #3498db;
    animation: dots 1.4s infinite ease-in-out;
}

.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.32s;
}

.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.16s;
}

.loader div:nth-child(3) {
    left: 56px;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}